.Main{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}


.EditButton{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px transparent solid;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
}

.EditIcon{
    height: 45;
    width: 45;
    font-size: 45px;
    
}
.EditIcon:hover{
    color: grey;
    
}

.EditButton:focus{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
}

.EditButton img{
    height: 100%;
    width: 100%;
}

.EditButton:disabled{
    opacity: 50%
}
  