.ActivityIndicator{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.ActivityIndicator img{
    width: 50%;
    height: 80%;
}

.Main{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}


.Form{
    display: flex;
    width: 50%;
    padding: 50px;
    align-items: center;
    justify-content: center;
    border: 1px grey solid;
    border-radius: 10px;
    flex-flow: column;
}

input{
    border: 1px darkgray solid;
    border-radius: 8px;
    background-color: lightgray;
    font-size: 30px;
    padding:  5px 20px;
    margin-top: 20px;
    height: 60px;
}

input:focus{
    border: 1px darkgray solid;
    border-radius: 8px;
    background-color: lightgray;
    font-size: 30px;
    padding:  5px 20px;
    margin-top: 20px;
    height: 60px;
    outline: none;
}

/*input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}*/

h1{
    font-size: 60px;
}

.Submit{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px darkgray solid;
    background-color: lightgray;
    margin-top: 20px;
}

.Submit:focus{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    outline: none;
}

.Submit img{
    height: 100%;
    width: 100%;
}

.Submit:disabled{
    opacity: 50%
}

.Error{
    margin-top: 20px;
    color: red;
    font-size: 40px;
}

.Submit:active{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
}
.Main a{
    font-size: 40px;
    margin-top: 30px;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
}

.Loader{
    width: 30px;
}