.Main{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Main ul{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    list-style-type: none;
}


.Main ul::-webkit-scrollbar {
    display: none;
  }


.Main li{
    padding:20px;
    text-decoration: none;
}
  