.Main{
    display: flex;
    width: 100%;
    flex-flow: column;
    padding-top: 60px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.Main h1{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.UserImage{
  
    margin: 0;
    padding: 0;
    border-color: gray;
    border-width: 1px;
    border-radius: 200px;
    border-style: solid;

    height: 400px;
    width: 400px;
    margin-right: 20px;
    overflow: hidden;
}

.Links{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    width: 70%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0px;
    margin-top: 20px;
}



.Links a{
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
  
}

.Links a:hover
{
    color: grey;
}


.MailLink{
    color: black;
    text-decoration: underline;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
  
}

.MailLink:hover
{
    color: grey;
}




.FollowButton{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px transparent solid;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
}

.FollowIcon{
    height: 45;
    width: 45;
    font-size: 45px;
    
}
.FollowIcon:hover{
    color: grey;
    
}

.FollowButton:focus{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
}

.FollowButton img{
    height: 100%;
    width: 100%;
}

.FollowButton:disabled{
    opacity: 50%
}
  