.Comment{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.Vertical{
    display:flex;
    flex-direction: column;
    border: 1px darkgray transparent;
    border-radius: 8px;
    background-color: lightgray;
    padding:10px;
}





.NavLink{
    color: gray;
    text-decoration: none;
    font-size: 35px;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    margin-right: 15px;
    text-align: left;
}

.CommentText{
    color: gray;
    text-decoration: none;
    font-size: 35px;
    box-sizing: border-box;
    display: flex;
    margin-right: 15px;
    text-align: left;
}


.NavLink:hover,
.NavLink:active,
.NavLink:active
{

   color: black;
}


.Image{
    margin: 0;
    padding: 0;
    border-color: gray;
    border-width: 1px;
    border-radius: 40px;
    border-style: solid;

    height: 80px;
    width: 80px;
    min-width: 80px;
    margin-right: 20px;
    overflow: hidden;
}

.Img{
    
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.Image img {
    display: block;
    max-width:80px;
    max-height:80px;
    width: 80px;
    height: 80px;
    object-fit: fill;
}


