.Main{
   
    margin-top: 40px;;

}


.Main ul{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: scroll;
    list-style-type: none;
    padding: 0;
    max-height: 500px;
}





.Main ul::-webkit-scrollbar {
    display: none;
  }


.Main li{
    padding:20px;
    text-decoration: none;
}
  


.Main ul::-webkit-scrollbar {
    display: none;
  }


.Main li{
    padding:20px;
    text-decoration: none;
}

.Input{
    border: 1px darkgray solid;
    border-radius: 8px;
    background-color: lightgray;
    font-size: 30px;
    display: flex;
    flex-direction: row;
   
    padding: 10px;
    display: flex;
    align-items: flex-end;
  

}

.TextArea{
    border: 1px transparent solid;
    border-radius: 8px;
    background-color: transparent;
    font-size: 30px;
    display: flex;
    flex:1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: vertical;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 100%;
    max-height: 200px;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/

}


.TextArea::-webkit-scrollbar {
    display: none;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  


.Submit{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px darkgray solid;
    background-color: lightgray;
   
}

.Submit:focus{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
}

.Submit img{
    height: 100%;
    width: 100%;
}

.Submit:disabled{
    opacity: 50%
}
  