.Modal {
    
    background-color: white;
    max-width: 80%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    top: 30%;
    box-sizing: border-box;
    max-height: 80%;
    
}

.ModalContainer{
    display:flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}
