.Map{
    width: 100%;
}

.Main{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 3px solid grey;
}

.Description{
    color: gray;
    text-decoration: none;
    font-size: 30px;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-right: 15px;


}

.Links{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px;
    padding:10px;
    margin-top: 50px;
}



.Links a{
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
  
}


.LikeButton{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px transparent solid;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.LikeIcon{
    height: 45;
    width: 45;
    font-size: 45px;
    
}

.Links a:hover{
    color: grey;
}


.LikeIcon:hover{
    color: grey;
}

.LikeButton:focus{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
}

.LikeButton img{
    height: 100%;
    width: 100%;
}

.LikeButton:disabled{
    opacity: 50%
}
  