.Main{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.Main ul{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    list-style-type: none;
}


.Main ul::-webkit-scrollbar {
    display: none;
  }


.Main li{
    padding:20px;
    text-decoration: none;
}
  